<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
        link(rel="stylesheet" href="/public/css/bookpage.css")
        link(rel="stylesheet" href="/public/css/nav-bar.css")
        title Document
    body
    include nav-bar.pug
    div.pure-g.bookdisplay
        div.pure-u-1
            div.pure-u-1-2
                div.bookCover
                    img(src=`/public/images/${book.cover}`, alt=`${book.title}`).pure-u-1
            div.pure-u-1-2.bookInfo
                div.top
                    span.pure-u-1.bookTitle= book.title
                div.top
                    span.pure-u-1= `Author: ${author[0].Author.firstName} ${author[0].Author.lastName}`
                div.top
                    span.pure-u-1-1= `Published: ${book.published}`
                div.top
                    span.pure-u-1 Summary
                div.top
                    span.pure-u-1= book.summary
        each r in review
            div.pure-u-1.reviewContainer
                div.review
                    span.pure-u-1 Review
                    span.pure-u-1=  `Rating: ${r.rating} / 5`
                div.review
                    span.pure-u-1= r.review
