<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
        link(rel="stylesheet" href="/public/css/bookshelves.css")
        link(rel="stylesheet" href="/public/css/nav-bar.css")
        title Document
    body
        include nav-bar.pug
        input(type="hidden" value=token name="token")
        div.page
            each booksArr, shelfName in shelves
                h3= shelfName
                div.shelf-container
                    each book in booksArr
                        form(method="post" action=`/books/${book.id}`)
                        div.book-container
                            img(src=`/public/images/${book.Book.cover}` id=book.Book.id title:book.Book.title width="200" height="300").image-details
                            div.book-details
                                h1= book.Book.title
                                p= book.Book.Authors[0].firstName + ' ' + book.Book.Authors[0].lastName + " | Rating: "
                                if book.Book.Reviews.length > 0
                                    p= book.Book.Reviews[0].rating
                                else
                                    p="Unrated"
                                p= book.Book.summary
                                include create-bookshelf
                                form(action=`/bookshelves/${book.userId}/delete/${shelfName}` method="post")
                                    button(type="submit") Delete Bookshelf
                                form(method="post" action=`/users/${book.userId}/books/${book.bookId}/status`)
                                    select(onchange="this.form.submit()" name="status")
                                        option(value="1" name='status' selected=(book.Status.statusName === "Want to Read")) Want to Read
                                        option(value="2" name='status' selected=(book.Status.statusName === "Reading")) Reading
                                        option(value="3" name='status' selected=(book.Status.statusName === "Read")) Read
                                        option(value="4" name='status' selected=(book.Status.statusName === "None")) None
