<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
        link(rel="stylesheet" href="/public/css/bookshelves.css")
        title Document
    body
        h2 My Bookshelves
            div
                each booksArr, shelfName in shelves
                    h3= shelfName
                    div.pure-g
                        each book in booksArr
                            div.pure-u-1-5.pure-u-md-1-3.pure-u-sm-1.alldetails
                                img(src=`/public/images/${book.Book.cover}` id=book.Book.id title:book.Book.title width=auto height="300").imagedetails
                                div.bookdetails
                                    p= book.Book.title
                                    p= book.Book.Authors[0].firstName + ' ' + book.Book.Authors[0].lastName
                                    p= book.Book.summary
                                    if book.Book.Reviews.length > 0
                                        p= book.Book.Reviews[0].rating
                                    else
                                        p="Unrated"
                                    form(method="post" action="/bookshelves/create")
                                        label(for="shelfName") Shelf Name
                                        input(type="text" name="shelfName")
                                        button(type="submit") Create Shelf
                                        input(type="hidden" name=`userBookId` value=book.id)
                                    form(method="post" action=`/users/${book.userId}/books/${book.bookId}/status`)
                                        select(onchange="this.form.submit()" name="status")
                                            option(value="1" name='status' selected=(book.Status.statusName === "Want to Read")) Want to Read
                                            option(value="2" name='status' selected=(book.Status.statusName === "Reading")) Reading
                                            option(value="3" name='status' selected=(book.Status.statusName === "Read")) Read
                                            option(value="4" name='status' selected=(book.Status.statusName === "None")) None
                                    button Delete
